<h1>Welcome to Meadowlark Travel</h1>
<h2>Home</h2>
<p>Please sign up to our newsletter:</p>
<ul>
  <li><a href="/newsletter/signup">Old-school form submission</a></li>
  <li><a href="/newsletter-signup-ajax">Using Ajax (recommended)</a></li>
</ul>
<p>Also, please enter our vacation photo contest:</p>
<ul>
  <li><a href="/contest/vacation-photo">Old-school form submission</a></li>
  <li><a href="/contest/vacation-photo-ajax">Using Ajax (recommended)</a></li>
</ul>
<p>
  Question? Checkout our
  <a href='/about' data-test-id='about'>About Us</a>
  page!
</p>
{{> weather}}
